body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: linear-gradient( #dacfc4, #E2D1C3,#40407c)fixed;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;

}

.img-logo{
    box-shadow: 10px 10px 15px black;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
    font-family: monospace;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
 
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
    
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
    font-family: monospace;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-style: dotted;
    border-radius: 10px 25px 25px 10px;
}

.productos li:hover{
    border-color: #c78c19;
    
}

.productos li:active{
    border-color: aqua;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.img-footer{
    border-radius: 30px 30px 120px 120px;

}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}

.contacto{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label,form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-family: monospace;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    font-family: monospace;
}

select{
    width: 20%;
    padding: 10px;
}
.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 50%;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: rgb(219, 155, 35);
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
    box-shadow: 10px 10px 15px black;
}

.enviar:hover{
    background-color: rgb(147, 172, 147);
    transform: scale(1.1);
}

table{
    margin: 40px 40px;
    font-family: monospace;
    font-size: 18px;
    box-shadow: 10px 10px 15px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
    
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;
}



/* CSS para nuestro home */

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal::first-letter{
    font-weight: bold;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;    
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.diferenciales{
    font-size: 15px;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
 }

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
 }

 .diferenciales{
    padding: 3em 0;
    background: linear-gradient(#888888,#FEFEFE);
 }

 .contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
 }

 .lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
 }

 .items{
    line-height: 1.5;
 }

 .items::before{
    content:"\1F31F";
 }

 /*nth child(3) pintar el tercer elemento*/
 .items:first-child{
    font-weight: bold;
 }

.imagen-diferenciales{
    width: 60%;
    border-radius: 10px 0 15px 0;
    transition: 400ms;
    box-shadow: 10px 10px 30px #000000;
}

.imagen-diferenciales:hover{
    opacity: 0.5;
}

.video{
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja,.principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
    .lista-diferenciales,.imagen-diferenciales,.img-footer{
        width: 100%;
    }
}